@model EventEaseProject.Models.Venue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Venue</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <!-- // This is step 4B (1): Add enctype for file upload -->
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VenueId" />
            <div class="form-group">
                <label asp-for="VenueName" class="control-label"></label>
                <input asp-for="VenueName" class="form-control" />
                <span asp-validation-for="VenueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <!-- <!-- Show Existing Image if it Exists -->
            @*        @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {

            }
            <div class="form-group">
                        <label >Current Image</label><br />
                        <img src="@Model.ImageUrl" alt="Venue Image" width+"158" height=158" style=object-for="Capacity" class="control-label"></label>
             </div>

             *@

            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="form-group">
                    <label>Current Image</label><br />
                    <img src="@Model.ImageUrl" alt="Venue Image" width="158" height="158" class="img-thumbnail" />
                </div>
            }
            <!-- Allow uploading a nice image -->
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
